<div class="row">
	<div class="col-xs-12">
	<h4>Metawear Device Connection</h4>
	{{#unless metawearConnected}}
		<button type="button" class="btn" {{action 'connect'}}>Connect</button>
	{{else}}
		<button type="button" class="btn red" {{action 'disconnect'}}>Disconnect</button>
	{{/unless}}
	</div>
</div>
{{#if metawearConnected}}
	<div class="row">
		<div class="col-xs-12">
			<h4>Please Choose a Laundry Load</h4>
			<button type="button" class="btn red btn-sm" {{action 'recordTempSWLF'}}>Small/Whites/Light Fabrics</button><br>
			<button type="button" class="btn red btn-sm" {{action ''}}>Small/Whites/Heavy Fabrics</button><br>
			<button type="button" class="btn red btn-sm" {{action ''}}>Small/Colors/Light Fabrics</button><br>
			<button type="button" class="btn red btn-sm" {{action ''}}>Small/Colors/Heavy Fabrics</button><br>
			<button type="button" class="btn red btn-sm" {{action ''}}>Small/Darks/Light Fabrics</button><br>
			<button type="button" class="btn red btn-sm" {{action ''}}>Small/Darks/Heavy Fabrics</button><br>
			<button type="button" class="btn red btn-sm" {{action ''}}>Medium/Whites/Light Fabrics</button><br>
			<button type="button" class="btn red btn-sm" {{action ''}}>Medium/Whites/Heavy Fabrics</button><br>
			<button type="button" class="btn red btn-sm" {{action ''}}>Medium/Colors/Light Fabrics</button><br>
			<button type="button" class="btn red btn-sm" {{action ''}}>Medium/Colors/Heavy Fabrics</button><br>
			<button type="button" class="btn red btn-sm" {{action ''}}>Medium/Darks/Light Fabrics</button><br>
			<button type="button" class="btn red btn-sm" {{action ''}}>Medium/Darks/Heavy Fabrics</button><br>
			<button type="button" class="btn red btn-sm" {{action ''}}>Large/Whites/Light Fabrics</button><br>
			<button type="button" class="btn red btn-sm" {{action ''}}>Large/Whites/Dark Fabrics</button><br>
			<button type="button" class="btn red btn-sm" {{action ''}}>Large/Colors/Light Fabrics</button><br>
			<button type="button" class="btn red btn-sm" {{action ''}}>Large/Colors/Heavy Fabrics</button><br>
			<button type="button" class="btn red btn-sm" {{action ''}}>Large/Darks/Light Fabrics</button><br>
			<button type="button" class="btn red btn-sm" {{action ''}}>Large/Darks/Heavy Fabrics</button><br>
            <button type="button" class="btn red btn-sm" {{action 'playLED'}}>Start LED<</button><br>
            <button type="button" class="btn red btn-sm" {{action 'stopLED'}}>Stop LED</button><br>
            <br>
            <h3>{{temperature}}</h3> <br>
            {{time-series-chart lineData=tempGraph}}
		</div>
	</div>
{{/if}}
